{% extends "base.html" %}

{% block body %}

<div id="sers-main">
    <div class="age-category">
        <button ><a href="/services">Adult</a></button>
        <button ><a href="/s_citizen">Senior citizen</a></button>
        <button><a href="/kids">kids</a></button>
    </div>

    <div id="content-main">
        <div id="opt-content">
            <div><button >Diet</button></div>
            <div><button>Daily requirenment</button></div>
            <div><button>Product</button></div>
            <div class="gif">
                <img  src="/static/s_citizen.gif" alt="" srcset="">

            </div>
            
            

        </div>
        <div id="selt-content">
            <div class="selt-content1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas magnam molestias, perferendis temporibus nam doloribus consequuntur nostrum dolore, placeat, iure id quod cum maiores cupiditate dignissimos. Voluptatibus optio itaque praesentium, totam quam fugit sit commodi, necessitatibus sint aliquam labore incidunt sequi deserunt sunt molestiae nam dicta quidem est dignissimos tempore nesciunt similique impedit tenetur? Doloribus, ut. Quisquam, corporis. Corrupti, dolore nesciunt? Consequatur, accusantium et qui sit provident molestias tempore officia neque. Aliquid qui commodi quis facilis sequi. Blanditiis necessitatibus nemo, quam ut maiores illo exercitationem quae. Ipsa voluptatibus repellat facere aperiam laboriosam laborum excepturi magnam eius vitae, veniam nobis minima ea, asperiores et ex! Temporibus, non iure sequi facilis optio, quidem eum officia, aliquam suscipit ex recusandae enim corporis.
            </div>
        </div>

    </div>
</div>

{% endblock body %}